<!DOCTYPE html>
<html>
<head>
	<title>Phòng khách</title>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<!-- Animation on scroll -->
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<!-- source file -->
	<link rel="stylesheet" type="text/css" href="../../../css/style-home.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand-hover-effect.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand-comparison.css">
	<script src="../../../javascript/header.js"></script>
	<script src="../../../javascript/room.js"></script>
	<script src="../../../javascript/comparison.js"></script>
	<script src="../../../javascript/add-to-cart.js"></script>
</head>
<body>
<!------------------------------ begin of navbar col -------------------------------------------->
	<div>
		<div class="banner">
			<div class="logo show">
				<a href="../../../home.html">DURABLE</a>				
			</div>
			<div class="bag-item show-bag">
				<a href="../../addtocart.html">
					<i class="fa fa-shopping-cart"></i>
					<span>0</span>
				</a>
			</div>
		</div>
		<div class="nav-bar">
			<div class="menu-icon">
				<a href="../../../home.html">DURABLE</a>
				<i class="fa fa-bars fa-2x"></i>
			</div>
			<ul class="sub-menu">
				<li class="brand-dropdown">
					<span class="catalogue"><a href="../brand.html"><i class="icon-navbar fa fa-star"></i>Thương hiệu</a></span>
					<ul class="drop-menu">
						<li><a href="../mercury/sofa.html">Mercury</a></li>
						<li><a href="../jupiter/sofa.html">Jupiter</a></li>
						<li><a href="../mars/sofa.html">Mars</a></li>
					</ul>
				</li>
				<li>
					<a class="catalogue" href="living.html"><i class="icon-navbar fa fa-coffee"></i>Phòng khách</a>
				</li>
				<li>
					<a class="catalogue" href="bedroom.html"><i class="icon-navbar fa fa-bed"></i>Phòng ngủ</a>
				</li>
				<li>
					<a class="catalogue" href="office.html"><i class="icon-navbar fa fa-desktop"></i>Văn phòng</a>
				</li>	
				<li>
					<a class="catalogue" href="kitchen.html"><i class="icon-navbar fa fa-utensils"></i>Phòng bếp</a>
				</li>
				<li>
					<a class="catalogue" href="bathroom.html"><i class="icon-navbar fa fa-bath"></i>Phòng tắm</a>
				</li>
				<li class="brand-dropdown-1">
					<span class="catalogue"><i class="icon-navbar far fa-address-card"></i>Chúng tôi</span>
					<ul class="drop-menu-1">
						<li><a href="../../../about-me.html">Giới thiệu về chúng tôi</a></li>
						<li><a href="../../../contact-us.html">Liên hệ với chũng tôi</a></li>
					</ul>
				</li>							
			</ul>			
		</div>					
	</div>
<!------------------------------ end of navbar col -------------------------------------------->

	<div class="content">
<!------------------------------ begin of banner -------------------------------------------->
		<div class="blank-space-top"></div>
		<div class="page-mapping">
			<ol>
				<li><a href="../../../home.html">Trang chủ</a>/</li>
				<li><a href="#">Phòng khách</a></li>
			</ol>
		</div>
		<div class="product-title-banner">
			<p>Phòng khách</p>
		</div>
		<!-- <div class="test"> -->
			
		<!-- </div> -->
		<div class="brand-banner living-banner darken-layer darken-with-text">
				<p>Phòng khách</p>
		</div>
		<div class="line-break"></div>
		<div class="brand-info w3-panel w3-leftbar w3-rightbar w3-border-grey">
			<div class="row">
				<div class="col-sm-12 col-lg-2 white">
					<img src="../../../image/brands/durable.jpg">
				</div>
				<div class="col-md-12 col-lg-6  w3-light-grey">
				<h3>Nhà của bạn, phong cách của bạn</h3>
					<p>Đến với<b> Nội thất DURABLE</b> Bạn sẽ nhận thấy rõ một không gian nội thất cần được chăm chút tỉ mỉ đến từng chi tiết. Luôn giữ trên mình tâm huyết của những nhà thiết kế chúng tôi với ước mơ khao khát mang đến Khách hàng những sản phẩm tinh tế tuyệt đối.Chúng tôi luôn lắng nghe mong muốn của Khách hàng để tạo ra những ý tưởng thiết kế độc đáo vẫn gắn liền với nhu cầu thực tế của bạn, đưa ra quan điểm giúp Bạn định hình lại phong cách trang trí nội thất hài hoà cho mỗi căn phòng của từng thành viên trong gia đình mình.</p>
				</div>
				<!-- <div class="col-sm-12 col-md-1">
					
				</div> -->
				<div class="brand-info-img col-md-12 col-lg-4  w3-light-grey"></div>
			</div>
		</div>
		<div class="line-break"></div>
<!------------------------------ end of navbar col -------------------------------------------->
		<div class="pro-content">
<!------------------------------ begin of sub menu col -------------------------------------------->
			<div class="placeholder-left">
				<div class="menu-left">
					<p class="product-title-left">Các sản phẩm</p>
					<ul class="brand-submenu-left">
						<li class="show-all">Tất cả</li>
						<li class="show-sofa">Ghế Sofa</li>
						<li class="show-table">Bàn</li>
					</ul>
				</div>	
			</div>
			
			<div class="mini-menu-left">
				<div class="top-menu">
					<span class="">Thương hiệu</span>
				</div>
				<div class="expand-menu">
					<ul class="">
						<li class="show-all">Tất cả</li>
						<li class="show-sofa">Ghế Sofa</li>
						<li class="show-table">Bàn</li>
					</ul>
				</div>
			</div>
			
<!------------------------------ end of sub menu col -------------------------------------------->
<!------------------------------ begin of product col -------------------------------------------->
			<div class="brand-product">
				<div class="row">
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Mercury 1" data-id="mersofa1" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd" data-product="sofa" data-brand="mercury">
							<a href="../../../ctsp/sofa/mersofa1.html">
								<img class="pro-img-frame" src="../../../image/mercury/sofas/1.jpg" alt="">								
							</a>
							<div class="pro-name">
								<span class="">Ghế Sofa Mercury 1</span>
								<span class="right red">23000vnd</span>
							</div>
				            <div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mersofa1.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Mercury 2" data-id="mersofa2" data-size="200x100x90" data-cover="leather" data-color="grey" data-price="23000vnd" data-product="sofa" data-brand="mercury">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/sofa/mersofa2.html">
									<img class="pro-img-frame" src="../../../image/mercury/sofas/2.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Mercury 2</span>
									<span class="right red">23000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mersofa2.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Mercury 3" data-id="mersofa3" data-size="250x200x90" data-cover="polyester fibre" data-color="white" data-price="5000vnd" data-product="sofa" data-brand="mercury">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/sofa/mersofa3.html">
									<img class="pro-img-frame" src="../../../image/mercury/sofas/3.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Mercury 3</span>
									<span class="right red">5000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mersofa3.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Mercury 4" data-id="mersofa4" data-size="230x120x90" data-cover="leather" data-color="black" data-price="7500vnd" data-product="sofa" data-brand="mercury">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/sofa/mersofa4.html">
									<img class="pro-img-frame" src="../../../image/mercury/sofas/4.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Mercury 4</span>
									<span class="right red">7500vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mersofa4.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>

				                    </a>
				                </p>
				            </div>
						</div>
					</div>

					<!--- sofa mercury -->
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 1" data-id="mertable1" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd" data-product="table" data-brand="mercury">
							<!-- <div class="underline-hover2"> -->
							<a href="../../../ctsp/Table/mertable1.html">
								<img class="pro-img-frame" src="../../../image/mercury/tables/1.jpg">
							</a>
							<div class="pro-name">
								<span class="left">Bàn Mercury 1</span>
								<span class="right red">2000vnd</span>
							</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable1.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 2" data-id="mertable2" data-size="200x100x90" data-cover="leather" data-color="grey" data-price="23000vnd" data-product="table" data-brand="mercury">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/mertable2.html">
									<img class="pro-img-frame" src="../../../image/mercury/tables/2.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Mercury 2</span>
									<span class="right red">23000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable2.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 3" data-id="mertable3" data-size="250x200x90" data-cover="polyester fibre" data-color="white" data-price="5000vnd" data-product="table" data-brand="mercury">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/mertable3.html">
									<img class="pro-img-frame" src="../../../image/mercury/tables/3.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Mercury 3</span>
									<span class="right red">5000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable3.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 4" data-id="mertable4" data-size="230x120x90" data-cover="leather" data-color="black" data-price="7500vnd" data-product="table" data-brand="mercury">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/mertable4.html">
									<img class="pro-img-frame" src="../../../image/mercury/tables/4.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Mercury 4</span>
									<span class="right red">7500vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable4.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>

					<!--- table mercury -->
					
					
					
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Mars 1" data-id="masofa1" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd" data-product="sofa" data-brand="mars">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Sofa/masofa1.html">
									<img class="pro-img-frame" src="../../../image/mars/sofas/1.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Mars 1</span>
									<span class="right red">2000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/masofa1.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Mars 2" data-id="masofa2" data-size="200x100x90" data-cover="leather" data-color="grey" data-price="23000vnd" data-product="sofa" data-brand="mars">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Sofa/masofa2.html">
									<img class="pro-img-frame" src="../../../image/mars/sofas/2.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Mars 2</span>
									<span class="right red">23000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/masofa2.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Mars 3" data-id="masofa3" data-size="250x200x90" data-cover="polyester fibre" data-color="white" data-price="5000vnd" data-product="sofa" data-brand="mars">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Sofa/masofa3.html">
									<img class="pro-img-frame" src="../../../image/mars/sofas/3.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Mars 3</span>
									<span class="right red">5000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/masofa3.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Mars 4" data-id="masofa4" data-size="230x120x90" data-cover="leather" data-color="black" data-price="7500vnd" data-product="sofa" data-brand="mars">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Sofa/masofa4.html">
									<img class="pro-img-frame" src="../../../image/mars/sofas/4.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Mars 4</span>
									<span class="right red">7500vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/masofa4.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
	
					<!-- mars sofa -->
					<div class="col-12 col-sm-6 col-lg-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mars 1" data-id="matable1" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd" data-product="table" data-brand="mars">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/matable1.html">
									<img class="pro-img-frame" src="../../../image/mars/tables/1.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Mars 1</span>
									<span class="right red">2000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/matable1.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mars 2" data-id="matable2" data-size="200x100x90" data-cover="leather" data-color="grey" data-price="23000vnd" data-product="table" data-brand="mars">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/matable2.html">
									<img class="pro-img-frame" src="../../../image/mars/tables/2.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Mars 2</span>
									<span class="right red">23000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/matable2.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mars 3" data-id="matable3" data-size="250x200x90" data-cover="polyester fibre" data-color="white" data-price="5000vnd" data-product="table" data-brand="mars">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/matable3.html">
									<img class="pro-img-frame" src="../../../image/mars/tables/3.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Mars 3</span>
									<span class="right red">5000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/matable3.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mars 4" data-id="matable4" data-size="230x120x90" data-cover="leather" data-color="black" data-price="7500vnd" data-product="table" data-brand="mars">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/matable4.html">
									<img class="pro-img-frame" src="../../../image/mars/tables/4.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Mars 4</span>
									<span class="right red">7500vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/matable4.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>

					<!-- mars table-->
					
					
					
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Jupiter 1" data-id="jutable1" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd" data-product="table" data-brand="jupiter">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/jutable1.html">
									<img class="pro-img-frame" src="../../../image/jupiter/tables/1.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Jupiter 1</span>
									<span class="right red">2000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/jutable1.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Jupiter 2" data-id="jutable2" data-size="200x100x90" data-cover="leather" data-color="grey" data-price="23000vnd" data-product="table" data-brand="jupiter">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/jutable2.html">
									<img class="pro-img-frame" src="../../../image/jupiter/tables/2.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Jupiter 2</span>
									<span class="right red">23000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/jutable2.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Jupiter 3" data-id="jutable3" data-size="250x200x90" data-cover="polyester fibre" data-color="white" data-price="5000vnd" data-product="table" data-brand="jupiter">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/jutable3.html">
									<img class="pro-img-frame" src="../../../image/jupiter/tables/3.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Jupiter 3</span>
									<span class="right red">5000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/jutable3.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Jupiter 4" data-id="jutable4" data-size="230x120x90" data-cover="leather" data-color="black" data-price="7500vnd" data-product="table" data-brand="jupiter">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/Table/jutable4.html">
									<img class="pro-img-frame" src="../../../image/jupiter/tables/4.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn Jupiter 4</span>
									<span class="right red">7500vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/jutable4.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>

					<!-- jupiter table -->
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Jupiter 1" data-id="jusofa1" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd" data-product="sofa" data-brand="jupiter">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/	sofa/jusofa1.html">
									<img class="pro-img-frame" src="../../../image/jupiter/sofas/1.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Jupiter 1</span>
									<span class="right red">2000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/jusofa1.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Jupiter 2" data-id="jusofa2" data-size="200x100x90" data-cover="leather" data-color="grey" data-price="23000vnd" data-product="sofa" data-brand="jupiter">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/	sofa/jusofa2.html">
									<img class="pro-img-frame" src="../../../image/jupiter/sofas/2.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Jupiter 2</span>
									<span class="right red">23000vnd</span>
								</div>
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/jusofa3.docx" download>

				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>

					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Jupiter 3" data-id="jusofa3" data-size="250x200x90" data-cover="polyester fibre" data-color="white" data-price="5000vnd" data-product="sofa" data-brand="jupiter">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/	sofa/jusofa3.html">
									<img class="pro-img-frame" src="../../../image/jupiter/sofas/3.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Jupiter 3</span>
									<span class="right red">5000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/jusofa3.docx" download>

				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>

					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Sofa Jupiter 4" data-id="jusofa4" data-size="230x120x90" data-cover="leather" data-color="black" data-price="7500vnd" data-product="sofa" data-brand="jupiter">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/sofa/jusofa4.html">
									<img class="pro-img-frame" src="../../../image/jupiter/sofas/4.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Ghế Sofa Jupiter 4</span>
									<span class="right red">7500vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/jusofa4.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
	
					<!-- jupiter sofa -->
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table BT014" data-id="bt014" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd" data-product="sofa" data-brand="durable">
							<a href="../../../ctsp/table/bt014.html">
								<img class="pro-img-frame" src="../../../image/table/bt014.jpg" alt="">								
							</a>
							<div class="pro-name">
								<span class="">Bàn BT014</span>
								<span class="right red">23000vnd</span>
							</div>
				            <div class="overlay1">
				                <a class="detail-btn" href="../../../ctsp/table/bt014.html"><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/table/bt014.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table BT019" data-id="bt019" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd" data-product="sofa" data-brand="durable">
							<a href="../../../ctsp/table/bt019.html">
								<img class="pro-img-frame" src="../../../image/table/bt019.jpg" alt="">								
							</a>
							<div class="pro-name">
								<span class="">Bàn BT019</span>
								<span class="right red">23000vnd</span>
							</div>
				            <div class="overlay1">
				                <a class="detail-btn" href="../../../ctsp/table/bt019.html"><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/table/bt019.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table BT023" data-id="bt023" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd" data-product="sofa" data-brand="durable">
							<a href="../../../ctsp/table/bt023.html">
								<img class="pro-img-frame" src="../../../image/table/bt023.jpg" alt="">								
							</a>
							<div class="pro-name">
								<span class="">Bàn BT023</span>
								<span class="right red">23000vnd</span>
							</div>
				            <div class="overlay1">
				                <a class="detail-btn" href="../../../ctsp/table/bt023.html"><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/table/bt023.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table BT026" data-id="bt026" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd" data-product="sofa" data-brand="durable">
							<a href="../../../ctsp/table/bt026.html">
								<img class="pro-img-frame" src="../../../image/table/bt026.jpg" alt="">								
							</a>
							<div class="pro-name">
								<span class="">Bàn BT026</span>
								<span class="right red">23000vnd</span>
							</div>
				            <div class="overlay1">
				                <a class="detail-btn" href="../../../ctsp/table/bt026.html"><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/table/bt026.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!------------------------------ begin of compare col -------------------------------------------->
	<div class="w3-container  w3-center">
	    <div class="w3-row w3-card-4 w3-grey w3-round-large w3-border comparePanle w3-margin-top">
	        <div class="w3-row">
	            <div class="w3-col l9 m8 s6 w3-margin-top">
	                <h4>Đã thêm để so sánh</h4>
	            </div>
	            <div class="w3-col l3 m4 s6 w3-margin-top">
	                <button class="w3-btn w3-round-small w3-white w3-border notActive cmprBtn" disabled>So sánh</button>
	            </div>
	        </div>
	        <div class=" titleMargin w3-container comparePan">
	        </div>
	    </div>
	</div>

	<div id="id01" class="w3-animate-zoom w3-white w3-modal modPos">
		<!-- <div class="w3-modal-content"> -->
			<div class="w3-container">
				<a onclick="document.getElementById('id01').style.display='none'" class="whiteFont w3-padding w3-closebtn closeBtn w3-display-topright"></a>
				<div class="contentPop"></div>
			</div>
		
		<!-- </div> -->
	</div>
<!------------------------------ end of compare col -------------------------------------------->
	<div class="go-top">
		<a href="#">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</a>
	</div>

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<h6>Phòng</h6>
						<ul>
							<li><a href="living.html" style="color: #6b6b6b; ">Phòng khách</a></li>
							<li><a href="bedroom.html" style="color: #6b6b6b; ">Phòng ngủ</a></li>
							<li><a href="office.html" style="color: #6b6b6b; ">Văn phòng</a></li>
							<li><a href="kitchen.html" style="color: #6b6b6b; ">Phòng bếp</a></li>
							<li><a href="bathroom.html" style="color: #6b6b6b; ">Phòng tắm</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<h6>Thương hiệu</h6>
						<ul>
							<li><a style="color: #6b6b6b;" href="mercury/sofa.html">Mercury</a></li>
							<li><a style="color: #6b6b6b; " href="jupiter/sofa.html">Jupiter</a></li>
							<li><a style="color: #6b6b6b; " href="mars/sofa.html">Mars</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<a href="contact-us.html" class="contact-us" style="color: #6b6b6b;" class="">Liên hệ với chúng tôi</a>
						<ul>
							<li style="color: #6b6b6b; padding: 10px 0;">9:00am – 19:00pm, Monday – Sunday</li>		
							<li><a style="color: #6b6b6b;" target="_blank" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.3957427545065!2d105.765879714219!3d20.734748086158344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313435584e0d60fb%3A0x54072aa5012803f2!2zVHJ1bmcgdMOibSBUaMawxqFuZyBt4bqhaSBWw6JuIMSQw6xuaA!5e0!3m2!1svi!2s!4v1545494232502">TTTM thị trấn Vân Đình-Ứng Hòa-HN</a></li>
							<li><a style="color: #6b6b6b; " href="mailto:duongmanhduy.sla@gmail.com">duongmanhduy.sla@gmail.com</a></li>
							<li><a style="color: #6b6b6b; " href="tel:0123456789">0123456789</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<h6>Theo dõi</h6>
						<a href="" class="footer-icon"><i class="fab fa-facebook-square"></i></a>
						<a href="" class="footer-icon"><i class="fab fa-instagram"></i></a>
						<a href="" class="footer-icon"><i class="fab fa-google-plus-square"></i></a>
						<a href="" class="footer-icon"><i class="fab fa-twitter-square"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="reserved">
		<div class="container">
			©2018 DURABLE FURNITURES COMPANY. All rights reserved.
		</div>
	</div>	
</body>
</html>