<!DOCTYPE html>
<html>
<head>
	<title>Văn phòng</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<!-- Animation on scroll -->
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<!-- source file -->
	<link rel="stylesheet" type="text/css" href="../../../css/style-home.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand-hover-effect.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand-comparison.css">
	<script src="../../../javascript/header.js"></script>
	<script src="../../../javascript/room.js"></script>
	<script src="../../../javascript/comparison.js"></script>
	<script src="../../../javascript/add-to-cart.js"></script>
</head>
<body>
<!------------------------------ begin of navbar col -------------------------------------------->
	<div>
		<div class="banner">
			<div class="logo show">
				<a href="../../../home.html">DURABLE</a>				
			</div>
			<div class="bag-item show-bag">
				<a href="../../addtocart.html">
					<i class="fa fa-shopping-cart"></i>
					<span>0</span>
				</a>
			</div>
		</div>
		<div class="nav-bar">
			<div class="menu-icon">
				<a href="../../../home.html">DURABLE</a>
				<i class="fa fa-bars fa-2x"></i>
			</div>
			<ul class="sub-menu">
				<li class="brand-dropdown">
					<span class="catalogue"><a href="../brand.html"><i class="icon-navbar fa fa-star"></i>Thương hiệu</a></span>
					<ul class="drop-menu">
						<li><a href="../mercury/sofa.html">Mercury</a></li>
						<li><a href="../jupiter/sofa.html">Jupiter</a></li>
						<li><a href="../mars/sofa.html">Mars</a></li>
					</ul>
				</li>
				<li>
					<a class="catalogue" href="living.html"><i class="icon-navbar fa fa-coffee"></i>Phòng khách</a>
				</li>
				<li>
					<a class="catalogue" href="bedroom.html"><i class="icon-navbar fa fa-bed"></i>Phòng ngủ</a>
				</li>
				<li>
					<a class="catalogue" href="office.html"><i class="icon-navbar fa fa-desktop"></i>Văn phòng</a>
				</li>	
				<li>
					<a class="catalogue" href="kitchen.html"><i class="icon-navbar fa fa-utensils"></i>Phòng bếp</a>
				</li>
				<li>
					<a class="catalogue" href="bathroom.html"><i class="icon-navbar fa fa-bath"></i>Phòng tắm</a>
				</li>
				<li class="brand-dropdown-1">
					<span class="catalogue"><i class="icon-navbar far fa-address-card"></i>Chúng tôi</span>
					<ul class="drop-menu-1">
						<li><a href="../../../about-me.html">Giới thiệu về chúng tôi</a></li>
						<li><a href="../../../contact-us.html">Liên hệ với chúng tôi</a></li>
					</ul>
				</li>							
			</ul>			
		</div>					
	</div>
<!------------------------------ end of navbar col -------------------------------------------->

	<div class="content">
<!------------------------------ begin of banner -------------------------------------------->
		<div class="blank-space-top"></div>
		<div class="page-mapping">
			<ol>
				<li><a href="../../../home.html">Trang chủ</a>/</li>
				<!-- <li><a href="../brand.html">Brands</a>/</li> -->
				<li><a href="#">Văn phòng</a></li>
				<!-- <li><a href="#">Sofas</a></li> -->
			</ol>
		</div>
		<div class="product-title-banner">
			<p>Văn phòng</p>
		</div>
		<!-- <div class="test"> -->
			
		<!-- </div> -->
		<div class="brand-banner office-banner darken-layer darken-with-text">
				<p>Văn phòng</p>
		</div>

		<div class="line-break"></div>
		<div class="brand-info w3-panel w3-leftbar w3-rightbar w3-border-grey">
			<div class="row">
				<div class="col-sm-12 col-lg-2 white">
					<img src="../../../image/brands/durable.jpg">
				</div>
				<div class="col-md-12 col-lg-6  w3-light-grey">
                    <h3>Nhà của bạn, phong cách của bạn</h3>
					<p>Đến với<b> Nội thất DURABLE</b> Bạn sẽ nhận thấy rõ một không gian nội thất cần được chăm chút tỉ mỉ đến từng chi tiết. Luôn giữ trên mình tâm huyết của những nhà thiết kế chúng tôi với ước mơ khao khát mang đến Khách hàng những sản phẩm tinh tế tuyệt đối.Chúng tôi luôn lắng nghe mong muốn của Khách hàng để tạo ra những ý tưởng thiết kế độc đáo vẫn gắn liền với nhu cầu thực tế của bạn, đưa ra quan điểm giúp Bạn định hình lại phong cách trang trí nội thất hài hoà cho mỗi căn phòng của từng thành viên trong gia đình mình.</p>
				</div>
			
				<div class="brand-info-img col-md-12 col-lg-4  w3-light-grey">
					
				</div>
			</div>
		</div>
		<div class="line-break"></div>
<!------------------------------ end of navbar col -------------------------------------------->
<!------------------------------ begin of sub menu col -------------------------------------------->
		<!-- <div class="">
			<div class="menu-mid">
				<ul class="brand-submenu">
					<li class="product-title">Products</li>
					<li class="choosen-menu"><a href="#">Sofas</a></li>
					<li><a href="bed.html">Beds</a></li>
					<li><a href="table.html">Tables</a></li>
					<li><a href="chair.html">Chairs</a></li>
				</ul>
			</div>	
		</div>
		
		<div class="mini-menu-left">
			<div class="top-menu">
				<span class="">Products</span>
			</div>
			<div class="expand-menu">
				<ul class="">
					<li class="choosen-menu"><a href="#">Sofas</a></li>
					<li><a href="bed.html">Beds</a></li>
					<li><a href="table.html">Tables</a></li>
					<li><a href="chair.html">Chairs</a></li>
				</ul>
			</div>
		</div> -->

<!------------------------------ end of sub menu col -------------------------------------------->
		<!-- <div class="pro-content container"> -->
<!------------------------------ begin of product col -------------------------------------------->
			<div class="container">
				<div class="row row-padding">
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Office BNV4" data-id="bnv4" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd">
							<a href="../../../ctsp/deskstaff/bnv4.html">
								<img class="pro-img-frame" src="../../../image/deskstaff/bnv4_mini.jpg" alt="">								
							</a>
							<div class="pro-name">
								<span class="">Bàn văn phòng BNV4</span>
								<span class="right red">23000vnd</span>
							</div>
				            <div class="overlay1">
				                <a class="detail-btn" href="../../../ctsp/deskstaff/bnv4.html">
				                	<span class="fas fa-search"></span>
				                </a>
				                <p class="icon-links">
				                    <a href="../../../download/deskstaff/bnv4.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
						
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Office BNV5" data-id="bnv5" data-size="200x100x90" data-cover="leather" data-color="grey" data-price="23000vnd">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/deskstaff/bnv5.html">
									<img class="pro-img-frame" src="../../../image/deskstaff/bnv5_mini.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn văn phòng BT004</span>
									<span class="right red">23000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href="../../../ctsp/deskstaff/bnv5.html"><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/deskstaff/bnv5.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Office BNV9" data-id="bnv9" data-size="250x200x90" data-cover="polyester fibre" data-color="white" data-price="5000vnd">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/deskstaff/bnv9.html">
									<img class="pro-img-frame" src="../../../image/deskstaff/bnv9_mini.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn văn phòng BNV9</span>
									<span class="right red">5000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href="../../../ctsp/deskstaff/bnv9.html"><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/deskstaff/bnv9.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Office BNV10" data-id="bnv10" data-size="230x120x90" data-cover="leather" data-color="black" data-price="7500vnd">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/deskstaff/bnv10.html">
									<img class="pro-img-frame" src="../../../image/deskstaff/bnv10_mini.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn văn phòng BNV10</span>
									<span class="right red">7500vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href="../../../ctsp/deskstaff/bnv10.html"><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/deskstaff/bnv10.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Office BNV20" data-id="bnv20" data-size="230x120x90" data-cover="leather" data-color="black" data-price="7500vnd">
							<!-- <div class="underline-hover2"> -->
								<a href="../../../ctsp/deskstaff/bnv20.html">
									<img class="pro-img-frame" src="../../../image/deskstaff/bnv20_mini.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Bàn văn phòng BNV20</span>
									<span class="right red">75000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href="../../../ctsp/deskstaff/bnv20.html"><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/deskstaff/bnv20.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-cart-plus blue addToCart"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					
<!------------------------------ end of product col -------------------------------------------->
				</div>
			</div>
	</div>
<!------------------------------ begin of compare col -------------------------------------------->
	<div class="w3-container  w3-center">
	    <div class="w3-row w3-card-4 w3-grey w3-round-large w3-border comparePanle w3-margin-top">
	        <div class="w3-row">
	            <div class="w3-col l9 m8 s6 w3-margin-top">
	                <h4>Đã thêm để só sánh</h4>
	            </div>
	            <div class="w3-col l3 m4 s6 w3-margin-top">
	                <button class="w3-btn w3-round-small w3-white w3-border notActive cmprBtn" disabled>So sánh</button>
	            </div>
	        </div>
	        <div class=" titleMargin w3-container comparePan">
	        </div>
	    </div>
	</div>

	<div id="id01" class="w3-animate-zoom w3-white w3-modal modPos">
		<!-- <div class="w3-modal-content"> -->
			<div class="w3-container">
				<a onclick="document.getElementById('id01').style.display='none'" class="whiteFont w3-padding w3-closebtn closeBtn w3-display-topright"></a>
				<div class="contentPop"></div>
			</div>
	</div>
<!------------------------------ end of compare col -------------------------------------------->
	<div class="go-top">
		<a href="#">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</a>
	</div>

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<h6>Phòng</h6>
						<ul>
							<li><a href="living.html" style="color: #6b6b6b; ">Phòng khách</a></li>
							<li><a href="bedroom.html" style="color: #6b6b6b; ">Phòng ngủ</a></li>
							<li><a href="office.html" style="color: #6b6b6b; ">Văn phòng</a></li>
							<li><a href="kitchen.html" style="color: #6b6b6b;">Phòng bếp</a></li>
							<li><a href="bathroom.html" style="color: #6b6b6b; ">Phòng tắm</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<h6>Thương hiệu</h6>
						<ul>
							<li><a style="color: #6b6b6b;" href="mercury/sofa.html">Mercury</a></li>
							<li><a style="color: #6b6b6b; " href="jupiter/sofa.html">Jupiter</a></li>
							<li><a style="color: #6b6b6b; " href="mars/sofa.html">Mars</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<a href="contact-us.html" class="contact-us" style="color: #6b6b6b;" class="">Liên hệ với chúng tôi </a>
						<ul>
							<li style="color: #6b6b6b; padding: 10px 0;">9:00am – 19:00pm, Monday – Sunday</li>		
							<li><a style="color: #6b6b6b;" target="_blank" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.3957427545065!2d105.765879714219!3d20.734748086158344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313435584e0d60fb%3A0x54072aa5012803f2!2zVHJ1bmcgdMOibSBUaMawxqFuZyBt4bqhaSBWw6JuIMSQw6xuaA!5e0!3m2!1svi!2s!4v1545494232502">TTTM thị trấn Vân Đình-Ứng Hòa-HN</a></li>
							<li><a style="color: #6b6b6b; " href="mailto:duongmanhduy.sla@gmail.com">duongmanhduy.sla@gmail.com</a></li>
							<li><a style="color: #6b6b6b; " href="tel:0123456789">0123456789</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<h6>Theo dõi</h6>
						<a href="" class="footer-icon"><i class="fab fa-facebook-square"></i></a>
						<a href="" class="footer-icon"><i class="fab fa-instagram"></i></a>
						<a href="" class="footer-icon"><i class="fab fa-google-plus-square"></i></a>
						<a href="" class="footer-icon"><i class="fab fa-twitter-square"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="reserved">
		<div class="container">
			©2018 DURABLE FURNITURES COMPANY. All rights reserved.
		</div>
	</div>	
</body>
</html>